.head-navigation {
  display: flex;
  padding: 15px 0;

  .back-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #343434;

    span {
      margin-left: 5px;
    }

    svg {
      margin-top: -2px;
    }
  }
}

@media(min-width: 767px) {
  .head-navigation {
    .back-link {
      font-size: 18px;
    }
  }
}


// ===== page tabs =====

.tabs {
  display: flex;
  background-color: #EDF0F3;
  margin-bottom: 15px;
  border-radius: 5px;

  button {
    width: 100%;
    padding: 15px 5px;
    cursor: pointer;
    // text-transform: uppercase;
    font-size: 16px;
    color: #212121;
    // font-weight: 500;
    border: 0;
    background-color: transparent;

    &.active {
      color: #0D6EFD;
    }
  }
}

.tab-content {
  &.hidden {
    display: none;
  }
}

@media(min-width: 992px) {
  .tabs {
    button {
      font-size: 18px;
    }
  }
}

// ===== buttons styles =====

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;

  .btn-outline,
  .btn-primary {
    width: calc(50% - 8px);
    // font-weight: 500;
    font-size: 18px;
  }
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: .25s;
  border: 1px solid #0D6EFD;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  color: #0D6EFD;
  padding: 10px 5px;

  svg {
    margin-right: 8px;
    transition: .25s;
    fill: #0D6EFD;
  }

  &:hover,
  &:focus {
    background-color: #0D6EFD;
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D6EFD;
  cursor: pointer;
  transition: .25s;
  border: 1px solid #0D6EFD;
  border-radius: 40px;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px 5px;

  svg {
    margin-right: 8px;
    transition: .25s;
    fill: #fff;
  }

  &.listen-btn {
    border: 1px solid #0D6EFD;
    background-color: #0D6EFD;
  }
}


